<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR"/>
    <title>Log Management</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
<div id="mainError">
    <header class="errorName" id="header">
        <%= errorInit %>
    </header>
    <section>
        <h4>ErrorLog : </h4>
        <p id="section"><%= errorSection %></p>
    </section>
    <aside>
        <article>
            <p>LogQueue</p>
            <% for(var i = 0;i < errorHead.length;i++){ %>
                <% if(errorHead[i] != undefined) { %>
                <!-- Input Tag 오류인지 확인 -->
                <button class="article" onclick="
                        window.errorH = '<%=JSON.stringify(errorHead) %>';
                        window.errorS = '<%=JSON.stringify(errorSection)%>';
                        window.index = '<%=i%>';
                        button_click()">
                    <%=errorHead[i]%>
                </button>
                <% } %>
            <% } %>
        </article>
    </aside>
    <footer>
        <p>important : </p>
    </footer>
</div>
<script src="rayout.js"></script>
<script>
    // Call HTML Method
    function button_click() {
        console.log("message : ");
        console.log("index : ");
        for (var i = 0; i < errorH.length; i++) {
            if (errorH[i] === errorH[index]) {
                let sectionBuf = document.getElementById("section");
                let headerBuf = document.getElementById("header");
                sectionBuf.innerHTML = errorS[i];
                headerBuf.innerHTML = errorH[i];

            }
        }
    }
</script>
</body>
</html>
