<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR"/>
    <title>Log Management</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
<div id="mainError">
    <header class="errorName" id="header">
   <%=errorInit%>
    </header>
    <section>
        <h4>ErrorLog : </h4>
        <p id="section"><%=errorSection%></p>
    </section>
    <aside>
        <article>
        <p>LogQueue</p>
        <% for(var i=0;i<errorHead.length;i++){ %>
            <% if(errorHead[i] != undefined) { %>
        <input type="button" class= "article" id="article"  value="<%=errorHead[i]%>"
               onclick="
                var errorH = '<%=errorHead%>';
                var errorS = '<%=errorSection%>';
                var index = '<%=i%>';
                button_click(errorH, errorS, index)"/>
            <% } %>
        <% } %>
        </article>
    </aside>
    <footer>
        <p>important : </p>
    </footer>
</div>
<script src="rayout.js"></script>
</body>
</html>
