<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR"/>
    <title>Log Management</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
<div id="mainError">
    <header class="errorName" id="header">
        <%= errorHeadInit %>
    </header>
    <section>
        <h4>ErrorLog : </h4>
        <p id="section"><%= errorSection %></p>
    </section>
    <aside>
        <article>
            <p>LogQueue</p>
            <% for(var i = 0;i < errorHead.length;i++){ %>
                <% if(errorHead[i] != undefined) { %>
                <button class="article" onclick="
                        window.errorH = <%=JSON.stringify(errorHead) %>;
                        window.errorS = <%=JSON.stringify(errorSection)%>;
                        window.errorD = <%=JSON.stringify(errorDoc)%>;
                        window.index = '<%=i%>';
                        button_click()">
                    <%=errorHead[i]%>
                </button>
                <% } %>
            <% } %>
        </article>
    </aside>
    <footer id ="footer">
        Android Developer Reference: <a href="<%=errorDocInit%>">Reference</a>
    </footer>
</div>
<script src="rayout.js"></script>
<script>
    // Call HTML Method
    function button_click() {
        console.log("message : ");
        console.log("index : ");
        for (let i = 0; i < errorH.length; i++) {
            if (errorH[i] === errorH[index]) {
                let sectionBuf = document.getElementById("section");
                let headerBuf = document.getElementById("header");
                let docBuf = document.getElementById("footer");

                // // Sort Section
                // for (let i = 0; i < errorH.length; i++) {
                //     for (let j = 0; j < errorH.length - 1; j++) {
                //         // let op1,op2;
                //         // op1 = errorH[j].indexOf("Exception");
                //         // op2 = errorH[j+1].indexOf("Exception");
                //         if (errorH[j].indexOf("Exception") > errorH[j+1].indexOf("Exception")) {
                //             let tempHead = errorH[j];
                //             errorH[j] = errorH[j + 1];
                //             errorH[j + 1] = tempHead;
                //             let tempSection = errorS[j];
                //             errorS[j] = errorS[j + 1];
                //             errorS[j + 1] = tempSection;
                //             let tempDoc = errorD[j];
                //             errorD[j] = errorD[j + 1];
                //             errorD[j + 1] = tempDoc;
                //             console.log(errorH);
                //         }
                //     }
                // }

                sectionBuf.innerHTML = errorS[i].toString();
                headerBuf.innerHTML = errorH[i].toString();
                errorD[i] = "Android Developer Reference: <a href = '"+errorD[i]+"'> Reference</a>";
                docBuf.innerHTML = errorD[i].toString();
                console.log(errorH[1].indexOf("qwerq"));
            }
        }
    }
</script>
</body>
</html>
